In [6]:
pip install --force-reinstall tabula-py

Collecting tabula-py
  Using cached tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
Collecting distro
  Using cached distro-1.6.0-py2.py3-none-any.whl (19 kB)
Collecting numpy
  Downloading numpy-1.21.4-cp38-cp38-macosx_10_9_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 12.7 MB/s eta 0:00:01
Collecting pandas>=0.25.3
  Downloading pandas-1.3.4-cp38-cp38-macosx_10_9_x86_64.whl (11.4 MB)
     |████████████████████████████████| 11.4 MB 3.5 MB/s eta 0:00:01
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 10.6 MB/s eta 0:00:01
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: six, pytz, python-dateutil, numpy, pandas, distro, tabula-py
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: pytz
    Found existing installation: pytz 2020.1
    Uninstalling pytz-2020.1:
      Successfully uninstalled pytz-2020.1
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.2
    Uninstalling numpy-1.19.2:
      Successfully uninstalled numpy-1.19.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.3
    Uninstalling pandas-1.1.3:
      Successfully uninstalled pandas-1.1.3
Successfully installed distro-1.6.0 numpy-1.21.4 pandas-1.3.4 python-dateutil-2.8.2 pytz-2021.3 six-1.16.0 tabula-py-2.3.0
WARNING: You are using pip version 21.1.2; however, version 21.3.1 is available.
You should consider upgrading via the '/Users/rakshitaveeresh/Documents/Anaconda/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [82]:
import tabula
import os
import pandas as pd
import glob
import numpy as np

In [162]:
tables = tabula.read_pdf("./pdf_files/2019_GRI_Report_DZBANK.pdf",pages="all")
print(str(tables))

[    1.3                             Ethics and integrity  11
0   1.4                             Corporate governance  11
1   1.5                           Stakeholder engagement  11
2   1.6                               Reporting practice  14
3   2.0                      GRI 200: Economic standards  17
4   2.1               GRI 201: Economic performance 2016  17
5   2.2          GRI 203: Indirect economic impacts 2016  21
6   2.3                    GRI 205: Anti-corruption 2016  22
7   2.4          GRI 206: Anti-competitive behavior 2016  24
8   3.0                  GRI 300 Environmental standards  25
9   3.1                          GRI 301: Materials 2016  25
10  3.2                             GRI 302: Energy 2016  26
11  3.3                GRI 303: Water and effluents 2018  27
12  3.4                          GRI 305: Emissions 2016  27
13  3.5                GRI 306: Effluents and waste 2016  29
14  3.6           GRI 307: Environmental compliance 2016  30
15  3.7  GRI 308: Supplier environmental assessment 2016  30,      4.1                       GRI 401: Employment 2016  30
0   4.20       GRI 402: Labor/management relations 2016  33
1   4.30   GRI 403: Occupational health and safety 2016  33
2   4.40           GRI 404: Training and education 2016  34
3   4.50  GRI 405: Diversity and equal opportunity 2016  36
4   4.60               GRI 406: Non-discrimination 2016  38
5   4.70          GRI 412: Human Rights Assessment 2016  39
6   4.80                GRI 413: Local communities 2016  40
7   4.90                    GRI 415: Public policy 2016  41
8   4.10           GRI 417: Marketing and labeling 2016  42
9   4.11                 GRI 418: Customer privacy 2016  42
10  4.12         GRI 419: Socioeconomic compliance 2016  42
11  5.00          Financial services sector disclosures  43
12  5.10                              Product portfolio  43,    Unnamed: 0 Germany  Unnamed: 1  Outside Germany  Unnamed: 2
0         NaN   5,195         NaN              247         NaN
1         NaN   5,234         NaN              240         NaN
2         NaN   5,298         NaN              244         NaN,    Unnamed: 0   2019  Unnamed: 1
0         NaN  5,206         NaN
1         NaN  2,204         NaN
2         NaN  3,002         NaN
3         NaN     60         NaN
4         NaN     30         NaN
5         NaN     30         NaN,                           Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                                (%)     2019.00     2018.00      2017.0
1             Flexible working hours      100.00      100.00       100.0
2                          Full-time       78.90       79.90        80.8
3                   Of which: female       58.40       59.90         NaN
4                     Of which: male       93.90       94.60         NaN
5                          Part-time       21.10       20.10        19.2
6                   Of which: female       41.60       40.10         NaN
7                     Of which: male        6.10        5.40         NaN
8                    Virtual offices       13.20       12.80        12.9
9                         Sabbatical        0.00        0.00         0.0
10  Semi-retirement (Altersteilzeit)        1.76        1.68         1.8,                           Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3
0                                (%)     2019.00       2018       2017
1             Flexible working hours      100.00      100.0      100.0
2                          Full-time       78.90       79.9       80.8
3                   Of which: female       58.40       59.9        NaN
4                     Of which: male       93.90       94.6        NaN
5                          Part-time       21.10       20.1       19.2
6                   Of which: female       41.60       40.1        NaN
7                     Of which: male        6.10        5.4        NaN
8                    Virtual offices       13.20       12.8       12.9
9                         Sabbatical        0.00        0.0        0.0
10  Semi-retirement (Altersteilzeit)        1.76       1.68        1.8
11   NUMBER OF EMPLOYEES BY LOCATION         NaN        NaN        NaN
12                               NaN         NaN        NaN        NaN
13                               NaN         NaN        NaN        NaN
14                               NaN         NaN       2019       2018
15                DZ BANK AG (total)         NaN      5,442      5,474
16                    Germany, total         NaN      5,195      5,234
17                         Frankfurt         NaN      3,389      3,397
18                        Düsseldorf         NaN        848        868
19                         Karlsruhe         NaN         32         28
20                         Stuttgart         NaN        295        302
21                           Münster         NaN         86         91
22                           Koblenz         NaN         16         17
23                          Hannover         NaN        180        182
24                           Hamburg         NaN         78         75
25                         Oldenburg         NaN         16         16
26                            Berlin         NaN         34         32
27                           Dresden         NaN          2          2
28                           Leipzig         NaN         10          9
29                            Munich         NaN        174        181
30                         Nuremberg         NaN         35         34
31              International, total         NaN        247        240
32                          Branches         NaN        231        224
33                            London         NaN         50         51
34                          New York         NaN         74         71
35                         Hong Kong         NaN         51         48
36                         Singapore         NaN         56         54
37            Representative offices         NaN         16         16
38                            Moscow         NaN          3          3
39                          Istanbul         NaN          3          3
40                         São Paulo         NaN          1          1
41                           Beijing         NaN          3          3
42                            Mumbai         NaN          3          3
43                           Jakarta         NaN          3          3,                          Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                                 €       2019       2018       2017
1             Banking organizations  1,398,557  1,619,579  1,731,872
2  Academic and other organizations    678,419    676,948    677,023
3                       Total costs  2,076,976  2,296,527  2,408,895,                                           Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                          € million       2019       2018
1                                   Operating profit        375        499
2                                Profit before taxes        460        310
3                                              Taxes        -66         12
4                            Net income for the year        394        322
5                                       Total assets    284,305    258,548
6                                             Equity     10,576     10,504
7                           Tier 1 capital ratio (%)       16.7       16.3
8                                 Wages and salaries        549        535
9  Occupational pension provision and other benefits         87        101

  Unnamed: 3
0       2017
1        598
2        320
3        250
4        570
5    251,998
6     10,504
7       17.3
8        550
9         93  ,                       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                            (%)       2019       2018       2017
1  Academic research & education       59.5       68.4       43.8
2                  Social causes       17.7       18.6       21.7
3                           Arts       12.5        5.7       25.2
4                       Politics        6.3        5.3        6.3
5                          Sport        4.1        1.9        3.0
6       Total amount donated (€)    318,376    656,851    657,304,    Unnamed: 0   2019  Unnamed: 1   2018  Unnamed: 2
0         NaN    362         NaN  2,082         NaN
1         NaN    494         NaN    351         NaN
2         NaN    169         NaN    447         NaN
3         NaN  1,153         NaN  3,920         NaN,                                          Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                              Kilowatt hours (kWh)        2019        2018
1                           Electricity consumption         NaN         NaN
2                     Total electricity consumption  33,104,461  33,035,150
3                        of which green electricity  32,782,553  33,005,705
4  Individual electricity consumption (kWh per FTE)       7,116       7,000
5                      District heating consumption         NaN         NaN
6                Total district heating consumption  18,964,126  18,124,104
7      Individual heating consumption (kWh per FTE)       4,077       3,841

   Unnamed: 3
0        2017
1         NaN
2  32,208,132
3  32,036,926
4       6,734
5         NaN
6  18,563,309
7       3,881  ,                         Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                              NaN       2019       2018       2017
1    Number of employees, Germany*      5,204      5,298      5,549
2                    Users (total)      3,562      3,643      3,627
3        Travel subsidy recipients        443        763        471
4       Regional travel card users      2,842      2,616      2,917
5  Deutsche Bahn travel card users        277        236        239
6       Public transport users (%)      68.45      68.79      65.36,    Unnamed: 0    2019  Unnamed: 1    2018  Unnamed: 2
0         NaN  32,039         NaN  32,766         NaN
1         NaN     6.9         NaN     6.9         NaN
2         NaN      38         NaN      39         NaN
3         NaN      16         NaN      16         NaN
4         NaN       2         NaN       3         NaN
5         NaN      40         NaN      39         NaN
6         NaN       3         NaN       3         NaN,    Unnamed: 0     2019  Unnamed: 1    2018  Unnamed: 2
0         NaN  101,057         NaN  96,293         NaN
1         NaN       22         NaN      20         NaN,    Unnamed: 0       2019  Unnamed: 1       2018  Unnamed: 2
0         NaN    385,193         NaN    235,319         NaN
1         NaN         83         NaN         50         NaN
2         NaN  2,727,635         NaN  2,631,789         NaN
3         NaN        586         NaN        558         NaN,    Unnamed: 0       2019  Unnamed: 1
0         NaN  1,177,951         NaN
1         NaN    537,721         NaN
2         NaN     45,722         NaN
3         NaN  2,103,706         NaN,                                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                      Kilograms (kg)       2019       2018
1                                         Total paper    536,951    583,314
2                       Individual paper (kg per FTE)        115        124
3                     Total electrical/toner/lighting      6,101     10,244
4   Individual electrical/toner/lighting (kg per FTE)          1          2
5                               Total mixed packaging     79,504     65,412
6             Individual mixed packaging (kg per FTE)         17         14
7                                Total non-recyclable    217,831    174,650
8              Individual non-recyclable (kg per FTE)         47         37
9                              Total commercial waste    226,020    234,123
10           Individual commercial waste (kg per FTE)         49         50
11                                Total kitchen waste     47,620     46,870
12              Individual kitchen waste (kg per FTE)         10         10
13                                        Total waste  1,114,027  1,114,613
14                Total individual waste (kg per FTE)        239        236

   Unnamed: 3
0        2017
1     666,774
2         139
3      19,814
4           4
5      75,049
6          16
7     164,945
8          34
9     198,230
10         41
11     45,615
12         10
13  1,170,427
14        245  ,     Unnamed: 0   2019  Unnamed: 1
0          NaN  186.0         NaN
1          NaN  101.0         NaN
2          NaN   85.0         NaN
3          NaN    NaN         NaN
4          NaN   57.0         NaN
5          NaN   31.0         NaN
6          NaN   26.0         NaN
7          NaN  144.0         NaN
8          NaN   97.0         NaN
9          NaN   47.0         NaN
10         NaN   35.0         NaN
11         NaN   23.0         NaN
12         NaN   12.0         NaN,                           Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                                (%)     2019.00     2018.00      2017.0
1             Flexible working hours      100.00      100.00       100.0
2                          Full-time       78.90       79.90        80.8
3                   Of which: female       58.40       59.90         NaN
4                     Of which: male       93.90       94.60         NaN
5                          Part-time       21.10       20.10        19.2
6                   Of which: female       41.60       40.10         NaN
7                     Of which: male        6.10        5.40         NaN
8                    Virtual offices       13.20       12.80        12.9
9                         Sabbatical        0.00        0.00         0.0
10  Semi-retirement (Altersteilzeit)        1.76        1.68         1.8,                                      Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                           Number of employees      2019.0      2018.0
1                            Total participants       784.0       991.0
2           Total for company sports activities       554.0       683.0
3  Total for sickness/injury prevention courses       230.0       308.0
4          Average health rate for the year (%)        95.3        95.3

  Unnamed: 3
0       2017
1      1,061
2        740
3        321
4       96.5  ,                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                              Days       2019       2018
1                                           Germany   12,318.6   14,321.0
2                               By gender and level        NaN        NaN
3                                            Female    4,832.4    5,400.5
4                                Of which: managers        NaN      479.0
5                                              Male    7,486.2    8,920.5
6                                Of which: managers        NaN    2,120.0
7                                      Per employee        2.4        2.7
8                               By gender and level        NaN        NaN
9                                            Female        NaN        2.5
10                               Of which: managers        NaN        4.7
11                                             Male        NaN        2.9
12                               Of which: managers        NaN        4.1
13  Professional development costs per employee (€)        NaN    1,222.0

   Unnamed: 3
0        2017
1    15,646.0
2         NaN
3     6,740.5
4       563.5
5     8,905.5
6     2,044.0
7         2.9
8         NaN
9         2.9
10        5.3
11        2.8
12        4.0
13      1,274  ,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  20.0         NaN  20.0         NaN
1         NaN  15.0         NaN  15.0         NaN
2         NaN   5.0         NaN   5.0         NaN
3         NaN   NaN         NaN   NaN         NaN
4         NaN   3.0         NaN   3.0         NaN
5         NaN   2.0         NaN   2.0         NaN
6         NaN   1.0         NaN   1.0         NaN
7         NaN  17.0         NaN  17.0         NaN
8         NaN  13.0         NaN  13.0         NaN
9         NaN   4.0         NaN   4.0         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN   6.1         NaN   5.9         NaN
1         NaN  15.4         NaN  15.0         NaN
2         NaN  20.4         NaN  20.4         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  42.2         NaN  42.3         NaN
1         NaN  18.4         NaN  18.2         NaN,     Unnamed: 0   2019  Unnamed: 1   2018  Unnamed: 2
0          NaN  5.442         NaN  5.474         NaN
1          NaN  3,145         NaN  3,157         NaN
2          NaN  2,297         NaN  2,317         NaN
3          NaN    NaN         NaN    NaN         NaN
4          NaN    485         NaN    471         NaN
5          NaN    249         NaN    229         NaN
6          NaN    236         NaN    242         NaN
7          NaN  2,685         NaN  2,825         NaN
8          NaN  1,493         NaN  1,594         NaN
9          NaN  1,192         NaN  1,231         NaN
10         NaN  2,272         NaN  2,178         NaN
11         NaN  1,403         NaN  1,334         NaN
12         NaN    869         NaN    844         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  45.4         NaN  45.2         NaN
1         NaN  45.3         NaN  45.1         NaN
2         NaN  47.0         NaN  46.8         NaN,       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0      € million       2019       2018       2017
1     Wind power    4,251.0    3,463.2    3,683.3
2         Biogas      101.2      103.2       82.6
3        Biomass       59.7       28.8       12.9
4  Photovoltaics      969.4      895.2    1,004.1
5     Hydropower        2.7        8.3        8.8
6          Total    5,384.0    4,498.7    4,791.7,       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0      € million       2019       2018       2017
1     Wind power    4,251.0    3,463.2    3,683.3
2         Biogas      101.2      103.2       82.6
3        Biomass       59.7       28.8       12.9
4  Photovoltaics      969.4      895.2    1,004.1
5     Hydropower        2.7        8.3        8.8
6          Total    5,384.0    4,498.7    4,791.7]

In [151]:
table_28 = pd.read_excel('tables/table_28.xlsx', index_col=0, skiprows=[0])  
table_28

          Wind power  Biogas  Biomass Photovoltaics  Hydropower    Total
€ million
2019         4,251.0   101.2     59.7         969.4         2.7  5,384.0
2018         3,463.2   103.2     28.8         895.2         8.3  4,498.7
2017         3,683.3    82.6     12.9       1,004.1         8.8  4,791.7

In [52]:
table_28 = pd.DataFrame(data = table_28)
table_28_transporsed = table_28.transpose()
table_28_transporsed

€ million Wind power Biogas Biomass Photovoltaics Hydropower    Total
2019         4,251.0  101.2    59.7         969.4        2.7  5,384.0
2018         3,463.2  103.2    28.8         895.2        8.3  4,498.7
2017         3,683.3   82.6    12.9       1,004.1        8.8  4,791.7

In [247]:
tables = tabula.read_pdf("./pdf_files/2019_GRI_Report_DZBANK.pdf",pages="all")
print(str(tables))

[    1.3                             Ethics and integrity  11
0   1.4                             Corporate governance  11
1   1.5                           Stakeholder engagement  11
2   1.6                               Reporting practice  14
3   2.0                      GRI 200: Economic standards  17
4   2.1               GRI 201: Economic performance 2016  17
5   2.2          GRI 203: Indirect economic impacts 2016  21
6   2.3                    GRI 205: Anti-corruption 2016  22
7   2.4          GRI 206: Anti-competitive behavior 2016  24
8   3.0                  GRI 300 Environmental standards  25
9   3.1                          GRI 301: Materials 2016  25
10  3.2                             GRI 302: Energy 2016  26
11  3.3                GRI 303: Water and effluents 2018  27
12  3.4                          GRI 305: Emissions 2016  27
13  3.5                GRI 306: Effluents and waste 2016  29
14  3.6           GRI 307: Environmental compliance 2016  30
15  3.7  GRI 308: Supplier environmental assessment 2016  30,      4.1                       GRI 401: Employment 2016  30
0   4.20       GRI 402: Labor/management relations 2016  33
1   4.30   GRI 403: Occupational health and safety 2016  33
2   4.40           GRI 404: Training and education 2016  34
3   4.50  GRI 405: Diversity and equal opportunity 2016  36
4   4.60               GRI 406: Non-discrimination 2016  38
5   4.70          GRI 412: Human Rights Assessment 2016  39
6   4.80                GRI 413: Local communities 2016  40
7   4.90                    GRI 415: Public policy 2016  41
8   4.10           GRI 417: Marketing and labeling 2016  42
9   4.11                 GRI 418: Customer privacy 2016  42
10  4.12         GRI 419: Socioeconomic compliance 2016  42
11  5.00          Financial services sector disclosures  43
12  5.10                              Product portfolio  43,    Unnamed: 0 Germany  Unnamed: 1  Outside Germany  Unnamed: 2
0         NaN   5,195         NaN              247         NaN
1         NaN   5,234         NaN              240         NaN
2         NaN   5,298         NaN              244         NaN,    Unnamed: 0   2019  Unnamed: 1
0         NaN  5,206         NaN
1         NaN  2,204         NaN
2         NaN  3,002         NaN
3         NaN     60         NaN
4         NaN     30         NaN
5         NaN     30         NaN,                           Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                                (%)     2019.00     2018.00      2017.0
1             Flexible working hours      100.00      100.00       100.0
2                          Full-time       78.90       79.90        80.8
3                   Of which: female       58.40       59.90         NaN
4                     Of which: male       93.90       94.60         NaN
5                          Part-time       21.10       20.10        19.2
6                   Of which: female       41.60       40.10         NaN
7                     Of which: male        6.10        5.40         NaN
8                    Virtual offices       13.20       12.80        12.9
9                         Sabbatical        0.00        0.00         0.0
10  Semi-retirement (Altersteilzeit)        1.76        1.68         1.8,                           Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3
0                                (%)     2019.00       2018       2017
1             Flexible working hours      100.00      100.0      100.0
2                          Full-time       78.90       79.9       80.8
3                   Of which: female       58.40       59.9        NaN
4                     Of which: male       93.90       94.6        NaN
5                          Part-time       21.10       20.1       19.2
6                   Of which: female       41.60       40.1        NaN
7                     Of which: male        6.10        5.4        NaN
8                    Virtual offices       13.20       12.8       12.9
9                         Sabbatical        0.00        0.0        0.0
10  Semi-retirement (Altersteilzeit)        1.76       1.68        1.8
11   NUMBER OF EMPLOYEES BY LOCATION         NaN        NaN        NaN
12                               NaN         NaN        NaN        NaN
13                               NaN         NaN        NaN        NaN
14                               NaN         NaN       2019       2018
15                DZ BANK AG (total)         NaN      5,442      5,474
16                    Germany, total         NaN      5,195      5,234
17                         Frankfurt         NaN      3,389      3,397
18                        Düsseldorf         NaN        848        868
19                         Karlsruhe         NaN         32         28
20                         Stuttgart         NaN        295        302
21                           Münster         NaN         86         91
22                           Koblenz         NaN         16         17
23                          Hannover         NaN        180        182
24                           Hamburg         NaN         78         75
25                         Oldenburg         NaN         16         16
26                            Berlin         NaN         34         32
27                           Dresden         NaN          2          2
28                           Leipzig         NaN         10          9
29                            Munich         NaN        174        181
30                         Nuremberg         NaN         35         34
31              International, total         NaN        247        240
32                          Branches         NaN        231        224
33                            London         NaN         50         51
34                          New York         NaN         74         71
35                         Hong Kong         NaN         51         48
36                         Singapore         NaN         56         54
37            Representative offices         NaN         16         16
38                            Moscow         NaN          3          3
39                          Istanbul         NaN          3          3
40                         São Paulo         NaN          1          1
41                           Beijing         NaN          3          3
42                            Mumbai         NaN          3          3
43                           Jakarta         NaN          3          3,                          Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                                 €       2019       2018       2017
1             Banking organizations  1,398,557  1,619,579  1,731,872
2  Academic and other organizations    678,419    676,948    677,023
3                       Total costs  2,076,976  2,296,527  2,408,895,                                           Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                          € million       2019       2018
1                                   Operating profit        375        499
2                                Profit before taxes        460        310
3                                              Taxes        -66         12
4                            Net income for the year        394        322
5                                       Total assets    284,305    258,548
6                                             Equity     10,576     10,504
7                           Tier 1 capital ratio (%)       16.7       16.3
8                                 Wages and salaries        549        535
9  Occupational pension provision and other benefits         87        101

  Unnamed: 3
0       2017
1        598
2        320
3        250
4        570
5    251,998
6     10,504
7       17.3
8        550
9         93  ,                       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                            (%)       2019       2018       2017
1  Academic research & education       59.5       68.4       43.8
2                  Social causes       17.7       18.6       21.7
3                           Arts       12.5        5.7       25.2
4                       Politics        6.3        5.3        6.3
5                          Sport        4.1        1.9        3.0
6       Total amount donated (€)    318,376    656,851    657,304,    Unnamed: 0   2019  Unnamed: 1   2018  Unnamed: 2
0         NaN    362         NaN  2,082         NaN
1         NaN    494         NaN    351         NaN
2         NaN    169         NaN    447         NaN
3         NaN  1,153         NaN  3,920         NaN,                                          Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                              Kilowatt hours (kWh)        2019        2018
1                           Electricity consumption         NaN         NaN
2                     Total electricity consumption  33,104,461  33,035,150
3                        of which green electricity  32,782,553  33,005,705
4  Individual electricity consumption (kWh per FTE)       7,116       7,000
5                      District heating consumption         NaN         NaN
6                Total district heating consumption  18,964,126  18,124,104
7      Individual heating consumption (kWh per FTE)       4,077       3,841

   Unnamed: 3
0        2017
1         NaN
2  32,208,132
3  32,036,926
4       6,734
5         NaN
6  18,563,309
7       3,881  ,                         Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                              NaN       2019       2018       2017
1    Number of employees, Germany*      5,204      5,298      5,549
2                    Users (total)      3,562      3,643      3,627
3        Travel subsidy recipients        443        763        471
4       Regional travel card users      2,842      2,616      2,917
5  Deutsche Bahn travel card users        277        236        239
6       Public transport users (%)      68.45      68.79      65.36,    Unnamed: 0    2019  Unnamed: 1    2018  Unnamed: 2
0         NaN  32,039         NaN  32,766         NaN
1         NaN     6.9         NaN     6.9         NaN
2         NaN      38         NaN      39         NaN
3         NaN      16         NaN      16         NaN
4         NaN       2         NaN       3         NaN
5         NaN      40         NaN      39         NaN
6         NaN       3         NaN       3         NaN,    Unnamed: 0     2019  Unnamed: 1    2018  Unnamed: 2
0         NaN  101,057         NaN  96,293         NaN
1         NaN       22         NaN      20         NaN,    Unnamed: 0       2019  Unnamed: 1       2018  Unnamed: 2
0         NaN    385,193         NaN    235,319         NaN
1         NaN         83         NaN         50         NaN
2         NaN  2,727,635         NaN  2,631,789         NaN
3         NaN        586         NaN        558         NaN,    Unnamed: 0       2019  Unnamed: 1
0         NaN  1,177,951         NaN
1         NaN    537,721         NaN
2         NaN     45,722         NaN
3         NaN  2,103,706         NaN,                                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                      Kilograms (kg)       2019       2018
1                                         Total paper    536,951    583,314
2                       Individual paper (kg per FTE)        115        124
3                     Total electrical/toner/lighting      6,101     10,244
4   Individual electrical/toner/lighting (kg per FTE)          1          2
5                               Total mixed packaging     79,504     65,412
6             Individual mixed packaging (kg per FTE)         17         14
7                                Total non-recyclable    217,831    174,650
8              Individual non-recyclable (kg per FTE)         47         37
9                              Total commercial waste    226,020    234,123
10           Individual commercial waste (kg per FTE)         49         50
11                                Total kitchen waste     47,620     46,870
12              Individual kitchen waste (kg per FTE)         10         10
13                                        Total waste  1,114,027  1,114,613
14                Total individual waste (kg per FTE)        239        236

   Unnamed: 3
0        2017
1     666,774
2         139
3      19,814
4           4
5      75,049
6          16
7     164,945
8          34
9     198,230
10         41
11     45,615
12         10
13  1,170,427
14        245  ,     Unnamed: 0   2019  Unnamed: 1
0          NaN  186.0         NaN
1          NaN  101.0         NaN
2          NaN   85.0         NaN
3          NaN    NaN         NaN
4          NaN   57.0         NaN
5          NaN   31.0         NaN
6          NaN   26.0         NaN
7          NaN  144.0         NaN
8          NaN   97.0         NaN
9          NaN   47.0         NaN
10         NaN   35.0         NaN
11         NaN   23.0         NaN
12         NaN   12.0         NaN,                           Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                                (%)     2019.00     2018.00      2017.0
1             Flexible working hours      100.00      100.00       100.0
2                          Full-time       78.90       79.90        80.8
3                   Of which: female       58.40       59.90         NaN
4                     Of which: male       93.90       94.60         NaN
5                          Part-time       21.10       20.10        19.2
6                   Of which: female       41.60       40.10         NaN
7                     Of which: male        6.10        5.40         NaN
8                    Virtual offices       13.20       12.80        12.9
9                         Sabbatical        0.00        0.00         0.0
10  Semi-retirement (Altersteilzeit)        1.76        1.68         1.8,                                      Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                           Number of employees      2019.0      2018.0
1                            Total participants       784.0       991.0
2           Total for company sports activities       554.0       683.0
3  Total for sickness/injury prevention courses       230.0       308.0
4          Average health rate for the year (%)        95.3        95.3

  Unnamed: 3
0       2017
1      1,061
2        740
3        321
4       96.5  ,                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                              Days       2019       2018
1                                           Germany   12,318.6   14,321.0
2                               By gender and level        NaN        NaN
3                                            Female    4,832.4    5,400.5
4                                Of which: managers        NaN      479.0
5                                              Male    7,486.2    8,920.5
6                                Of which: managers        NaN    2,120.0
7                                      Per employee        2.4        2.7
8                               By gender and level        NaN        NaN
9                                            Female        NaN        2.5
10                               Of which: managers        NaN        4.7
11                                             Male        NaN        2.9
12                               Of which: managers        NaN        4.1
13  Professional development costs per employee (€)        NaN    1,222.0

   Unnamed: 3
0        2017
1    15,646.0
2         NaN
3     6,740.5
4       563.5
5     8,905.5
6     2,044.0
7         2.9
8         NaN
9         2.9
10        5.3
11        2.8
12        4.0
13      1,274  ,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  20.0         NaN  20.0         NaN
1         NaN  15.0         NaN  15.0         NaN
2         NaN   5.0         NaN   5.0         NaN
3         NaN   NaN         NaN   NaN         NaN
4         NaN   3.0         NaN   3.0         NaN
5         NaN   2.0         NaN   2.0         NaN
6         NaN   1.0         NaN   1.0         NaN
7         NaN  17.0         NaN  17.0         NaN
8         NaN  13.0         NaN  13.0         NaN
9         NaN   4.0         NaN   4.0         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN   6.1         NaN   5.9         NaN
1         NaN  15.4         NaN  15.0         NaN
2         NaN  20.4         NaN  20.4         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  42.2         NaN  42.3         NaN
1         NaN  18.4         NaN  18.2         NaN,     Unnamed: 0   2019  Unnamed: 1   2018  Unnamed: 2
0          NaN  5.442         NaN  5.474         NaN
1          NaN  3,145         NaN  3,157         NaN
2          NaN  2,297         NaN  2,317         NaN
3          NaN    NaN         NaN    NaN         NaN
4          NaN    485         NaN    471         NaN
5          NaN    249         NaN    229         NaN
6          NaN    236         NaN    242         NaN
7          NaN  2,685         NaN  2,825         NaN
8          NaN  1,493         NaN  1,594         NaN
9          NaN  1,192         NaN  1,231         NaN
10         NaN  2,272         NaN  2,178         NaN
11         NaN  1,403         NaN  1,334         NaN
12         NaN    869         NaN    844         NaN,    Unnamed: 0  2019  Unnamed: 1  2018  Unnamed: 2
0         NaN  45.4         NaN  45.2         NaN
1         NaN  45.3         NaN  45.1         NaN
2         NaN  47.0         NaN  46.8         NaN,       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0      € million       2019       2018       2017
1     Wind power    4,251.0    3,463.2    3,683.3
2         Biogas      101.2      103.2       82.6
3        Biomass       59.7       28.8       12.9
4  Photovoltaics      969.4      895.2    1,004.1
5     Hydropower        2.7        8.3        8.8
6          Total    5,384.0    4,498.7    4,791.7,       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0      € million       2019       2018       2017
1     Wind power    4,251.0    3,463.2    3,683.3
2         Biogas      101.2      103.2       82.6
3        Biomass       59.7       28.8       12.9
4  Photovoltaics      969.4      895.2    1,004.1
5     Hydropower        2.7        8.3        8.8
6          Total    5,384.0    4,498.7    4,791.7]

In [248]:
#Noman's code
# save them in a folder
folder_name = "tables"
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)
# iterate over extracted tables and export as excel individually
for i, table in enumerate(tables, start=1):
    table.to_excel(os.path.join(folder_name, f"table_{i}.xlsx"), index=False)

In [249]:
# saave them in a folder
folder_name = "modified_tables"
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)
# iterate over extracted tables and export as excel individually
for i, table in enumerate(tables, start=1):
    table = pd.DataFrame(table)
    new_header = table.iloc[0] #grab the first row for the header
    table = table[1:] #take the data less the header row
    table.columns = new_header #set the header row as the df header
    #table = table.to_string(index=False)
    table.rename(columns={ table.columns[0]: "Year" }, inplace = True)
    table = table.transpose()
    print(table)
    table.to_excel(os.path.join(folder_name, f"table_{i}.xlsx"), header = False)

                                          1                   2   \
0
Year                                     1.5                 1.6
Corporate governance  Stakeholder engagement  Reporting practice
11                                        11                  14

                                               3   \
0
Year                                          2.0
Corporate governance  GRI 200: Economic standards
11                                             17

                                                      4   \
0
Year                                                 2.1
Corporate governance  GRI 201: Economic performance 2016
11                                                    17

                                                           5   \
0
Year                                                      2.2
Corporate governance  GRI 203: Indirect economic impacts 2016
11                                                         21

                                                 6   \
0
Year                                            2.3
Corporate governance  GRI 205: Anti-corruption 2016
11                                               22

                                                           7   \
0
Year                                                      2.4
Corporate governance  GRI 206: Anti-competitive behavior 2016
11                                                         24

                                                   8   \
0
Year                                              3.0
Corporate governance  GRI 300 Environmental standards
11                                                 25

                                           9                     10  \
0
Year                                      3.1                   3.2
Corporate governance  GRI 301: Materials 2016  GRI 302: Energy 2016
11                                         25                    26

                                                     11  \
0
Year                                                3.3
Corporate governance  GRI 303: Water and effluents 2018
11                                                   27

                                           12  \
0
Year                                      3.4
Corporate governance  GRI 305: Emissions 2016
11                                         27

                                                     13  \
0
Year                                                3.5
Corporate governance  GRI 306: Effluents and waste 2016
11                                                   29

                                                          14  \
0
Year                                                     3.6
Corporate governance  GRI 307: Environmental compliance 2016
11                                                        30

                                                                   15
0
Year                                                              3.7
Corporate governance  GRI 308: Supplier environmental assessment 2016
11                                                                 30
                                                                                    1   \
0
Year                                                                               4.3
GRI 402: Labor/management relations 2016  GRI 403: Occupational health and safety 2016
33                                                                                  33

                                                                            2   \
0
Year                                                                       4.4
GRI 402: Labor/management relations 2016  GRI 404: Training and education 2016
33                                                                          34

                                                                                     3   \
0
Year                                                                                4.5
GRI 402: Labor/management relations 2016  GRI 405: Diversity and equal opportunity 2016
33                                                                                   36

                                                                        4   \
0
Year                                                                   4.6
GRI 402: Labor/management relations 2016  GRI 406: Non-discrimination 2016
33                                                                      38

                                                                             5   \
0
Year                                                                        4.7
GRI 402: Labor/management relations 2016  GRI 412: Human Rights Assessment 2016
33                                                                           39

                                                                       6   \
0
Year                                                                  4.8
GRI 402: Labor/management relations 2016  GRI 413: Local communities 2016
33                                                                     40

                                                                   7   \
0
Year                                                              4.9
GRI 402: Labor/management relations 2016  GRI 415: Public policy 2016
33                                                                 41

                                                                            8   \
0
Year                                                                       4.1
GRI 402: Labor/management relations 2016  GRI 417: Marketing and labeling 2016
33                                                                          42

                                                                      9   \
0
Year                                                                4.11
GRI 402: Labor/management relations 2016  GRI 418: Customer privacy 2016
33                                                                    42

                                                                              10  \
0
Year                                                                        4.12
GRI 402: Labor/management relations 2016  GRI 419: Socioeconomic compliance 2016
33                                                                            42

                                                                             11  \
0
Year                                                                        5.0
GRI 402: Labor/management relations 2016  Financial services sector disclosures
33                                                                           43

                                                         12
0
Year                                                    5.1
GRI 402: Labor/management relations 2016  Product portfolio
33                                                       43
           1      2
0
Year     NaN    NaN
5,195  5,234  5,298
NaN      NaN    NaN
247      240    244
NaN      NaN    NaN
           1      2    3    4    5
0
Year     NaN    NaN  NaN  NaN  NaN
5,206  2,204  3,002   60   30   30
NaN      NaN    NaN  NaN  NaN  NaN
                            1          2                 3               4   \
0
Year    Flexible working hours  Full-time  Of which: female  Of which: male
2019.0                   100.0       78.9              58.4            93.9
2018.0                   100.0       79.9              59.9            94.6
2017.0                   100.0       80.8               NaN             NaN

               5                 6               7                8   \
0
Year    Part-time  Of which: female  Of which: male  Virtual offices
2019.0       21.1              41.6             6.1             13.2
2018.0       20.1              40.1             5.4             12.8
2017.0       19.2               NaN             NaN             12.9

                9                                 10
0
Year    Sabbatical  Semi-retirement (Altersteilzeit)
2019.0         0.0                              1.76
2018.0         0.0                              1.68
2017.0         0.0                               1.8
                            1          2                 3               4   \
0
Year    Flexible working hours  Full-time  Of which: female  Of which: male
2019.0                   100.0       78.9              58.4            93.9
2018                     100.0       79.9              59.9            94.6
2017                     100.0       80.8               NaN             NaN

               5                 6               7                8   \
0
Year    Part-time  Of which: female  Of which: male  Virtual offices
2019.0       21.1              41.6             6.1             13.2
2018         20.1              40.1             5.4             12.8
2017         19.2               NaN             NaN             12.9

                9                                 10  ...        34  \
0                                                     ...
Year    Sabbatical  Semi-retirement (Altersteilzeit)  ...  New York
2019.0         0.0                              1.76  ...       NaN
2018           0.0                              1.68  ...        74
2017           0.0                               1.8  ...        71

               35         36                      37      38        39  \
0
Year    Hong Kong  Singapore  Representative offices  Moscow  Istanbul
2019.0        NaN        NaN                     NaN     NaN       NaN
2018           51         56                      16       3         3
2017           48         54                      16       3         3

               40       41      42       43
0
Year    São Paulo  Beijing  Mumbai  Jakarta
2019.0        NaN      NaN     NaN      NaN
2018            1        3       3        3
2017            1        3       3        3

[4 rows x 43 columns]
                          1                                 2            3
0
Year  Banking organizations  Academic and other organizations  Total costs
2019              1,398,557                           678,419    2,076,976
2018              1,619,579                           676,948    2,296,527
2017              1,731,872                           677,023    2,408,895
                     1                    2      3                        4  \
0
Year  Operating profit  Profit before taxes  Taxes  Net income for the year
2019               375                  460    -66                      394
2018               499                  310     12                      322
2017               598                  320    250                      570

                 5       6                         7                   8  \
0
Year  Total assets  Equity  Tier 1 capital ratio (%)  Wages and salaries
2019       284,305  10,576                      16.7                 549
2018       258,548  10,504                      16.3                 535
2017       251,998  10,504                      17.3                 550

                                                      9
0
Year  Occupational pension provision and other benefits
2019                                                 87
2018                                                101
2017                                                 93
                                  1              2     3         4      5  \
0
Year  Academic research & education  Social causes  Arts  Politics  Sport
2019                           59.5           17.7  12.5       6.3    4.1
2018                           68.4           18.6   5.7       5.3    1.9
2017                           43.8           21.7  25.2       6.3    3.0

                             6
0
Year  Total amount donated (€)
2019                   318,376
2018                   656,851
2017                   657,304
         1    2      3
0
Year   NaN  NaN    NaN
362    494  169  1,153
NaN    NaN  NaN    NaN
2,082  351  447  3,920
NaN    NaN  NaN    NaN
                            1                              2  \
0
Year  Electricity consumption  Total electricity consumption
2019                      NaN                     33,104,461
2018                      NaN                     33,035,150
2017                      NaN                     32,208,132

                               3  \
0
Year  of which green electricity
2019                  32,782,553
2018                  33,005,705
2017                  32,036,926

                                                     4  \
0
Year  Individual electricity consumption (kWh per FTE)
2019                                             7,116
2018                                             7,000
2017                                             6,734

                                 5                                   6  \
0
Year  District heating consumption  Total district heating consumption
2019                           NaN                          18,964,126
2018                           NaN                          18,124,104
2017                           NaN                          18,563,309

                                                 7
0
Year  Individual heating consumption (kWh per FTE)
2019                                         4,077
2018                                         3,841
2017                                         3,881
                                  1              2                          3  \
0
Year  Number of employees, Germany*  Users (total)  Travel subsidy recipients
2019                          5,204          3,562                        443
2018                          5,298          3,643                        763
2017                          5,549          3,627                        471

                               4                                5  \
0
Year  Regional travel card users  Deutsche Bahn travel card users
2019                       2,842                              277
2018                       2,616                              236
2017                       2,917                              239

                               6
0
Year  Public transport users (%)
2019                       68.45
2018                       68.79
2017                       65.36
          1    2    3    4    5    6
0
Year    NaN  NaN  NaN  NaN  NaN  NaN
32,039  6.9   38   16    2   40    3
NaN     NaN  NaN  NaN  NaN  NaN  NaN
32,766  6.9   39   16    3   39    3
NaN     NaN  NaN  NaN  NaN  NaN  NaN

           1
0
Year     NaN
101,057   22
NaN      NaN
96,293    20
NaN      NaN
           1          2    3
0
Year     NaN        NaN  NaN
385,193   83  2,727,635  586
NaN      NaN        NaN  NaN
235,319   50  2,631,789  558
NaN      NaN        NaN  NaN
                 1       2          3
0
Year           NaN     NaN        NaN
1,177,951  537,721  45,722  2,103,706
NaN            NaN     NaN        NaN
               1                              2   \
0
Year  Total paper  Individual paper (kg per FTE)
2019      536,951                            115
2018      583,314                            124
2017      666,774                            139

                                   3   \
0
Year  Total electrical/toner/lighting
2019                            6,101
2018                           10,244
2017                           19,814

                                                     4   \
0
Year  Individual electrical/toner/lighting (kg per FTE)
2019                                                  1
2018                                                  2
2017                                                  4

                         5                                        6   \
0
Year  Total mixed packaging  Individual mixed packaging (kg per FTE)
2019                 79,504                                       17
2018                 65,412                                       14
2017                 75,049                                       16

                        7                                       8   \
0
Year  Total non-recyclable  Individual non-recyclable (kg per FTE)
2019               217,831                                      47
2018               174,650                                      37
2017               164,945                                      34

                          9                                         10  \
0
Year  Total commercial waste  Individual commercial waste (kg per FTE)
2019                 226,020                                        49
2018                 234,123                                        50
2017                 198,230                                        41

                       11                                     12           13  \
0
Year  Total kitchen waste  Individual kitchen waste (kg per FTE)  Total waste
2019               47,620                                     10    1,114,027
2018               46,870                                     10    1,114,613
2017               45,615                                     10    1,170,427

                                       14
0
Year  Total individual waste (kg per FTE)
2019                                  239
2018                                  236
2017                                  245
          1     2   3     4     5     6      7     8     9     10    11    12
0
NaN      NaN   NaN NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
186.0  101.0  85.0 NaN  57.0  31.0  26.0  144.0  97.0  47.0  35.0  23.0  12.0
NaN      NaN   NaN NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
                            1          2                 3               4   \
0
Year    Flexible working hours  Full-time  Of which: female  Of which: male
2019.0                   100.0       78.9              58.4            93.9
2018.0                   100.0       79.9              59.9            94.6
2017.0                   100.0       80.8               NaN             NaN

               5                 6               7                8   \
0
Year    Part-time  Of which: female  Of which: male  Virtual offices
2019.0       21.1              41.6             6.1             13.2
2018.0       20.1              40.1             5.4             12.8
2017.0       19.2               NaN             NaN             12.9

                9                                 10
0
Year    Sabbatical  Semi-retirement (Altersteilzeit)
2019.0         0.0                              1.76
2018.0         0.0                              1.68
2017.0         0.0                               1.8
                         1                                    2  \
0
Year    Total participants  Total for company sports activities
2019.0               784.0                                554.0
2018.0               991.0                                683.0
2017                 1,061                                  740

                                                   3  \
0
Year    Total for sickness/injury prevention courses
2019.0                                         230.0
2018.0                                         308.0
2017                                             321

                                           4
0
Year    Average health rate for the year (%)
2019.0                                  95.3
2018.0                                  95.3
2017                                    96.5
            1                    2        3                   4        5   \
0
Year   Germany  By gender and level   Female  Of which: managers     Male
2019  12,318.6                  NaN  4,832.4                 NaN  7,486.2
2018  14,321.0                  NaN  5,400.5               479.0  8,920.5
2017  15,646.0                  NaN  6,740.5               563.5  8,905.5

                      6             7                    8       9   \
0
Year  Of which: managers  Per employee  By gender and level  Female
2019                 NaN           2.4                  NaN     NaN
2018             2,120.0           2.7                  NaN     2.5
2017             2,044.0           2.9                  NaN     2.9

                      10    11                  12  \
0
Year  Of which: managers  Male  Of which: managers
2019                 NaN   NaN                 NaN
2018                 4.7   2.9                 4.1
2017                 5.3   2.8                 4.0

                                                   13
0
Year  Professional development costs per employee (€)
2019                                              NaN
2018                                          1,222.0
2017                                            1,274
         1    2   3    4    5    6     7     8    9
0
NaN    NaN  NaN NaN  NaN  NaN  NaN   NaN   NaN  NaN
20.0  15.0  5.0 NaN  3.0  2.0  1.0  17.0  13.0  4.0
NaN    NaN  NaN NaN  NaN  NaN  NaN   NaN   NaN  NaN
20.0  15.0  5.0 NaN  3.0  2.0  1.0  17.0  13.0  4.0
NaN    NaN  NaN NaN  NaN  NaN  NaN   NaN   NaN  NaN
        1     2
0
NaN   NaN   NaN
6.1  15.4  20.4
NaN   NaN   NaN
5.9  15.0  20.4
NaN   NaN   NaN
         1
0
NaN    NaN
42.2  18.4
NaN    NaN
42.3  18.2
NaN    NaN
          1      2    3    4    5    6      7      8      9      10     11  \
0
Year     NaN    NaN  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
5.442  3,145  2,297  NaN  485  249  236  2,685  1,493  1,192  2,272  1,403
NaN      NaN    NaN  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
5.474  3,157  2,317  NaN  471  229  242  2,825  1,594  1,231  2,178  1,334
NaN      NaN    NaN  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN

        12
0
Year   NaN
5.442  869
NaN    NaN
5.474  844
NaN    NaN
         1     2
0
NaN    NaN   NaN
45.4  45.3  47.0
NaN    NaN   NaN
45.2  45.1  46.8
NaN    NaN   NaN
               1       2        3              4           5        6
0
Year  Wind power  Biogas  Biomass  Photovoltaics  Hydropower    Total
2019     4,251.0   101.2     59.7          969.4         2.7  5,384.0
2018     3,463.2   103.2     28.8          895.2         8.3  4,498.7
2017     3,683.3    82.6     12.9        1,004.1         8.8  4,791.7
               1       2        3              4           5        6
0
Year  Wind power  Biogas  Biomass  Photovoltaics  Hydropower    Total
2019     4,251.0   101.2     59.7          969.4         2.7  5,384.0
2018     3,463.2   103.2     28.8          895.2         8.3  4,498.7
2017     3,683.3    82.6     12.9        1,004.1         8.8  4,791.7

In [244]:
folder_name = "result"
dfs = pd.DataFrame()
for file_name in glob.glob("tables/*.xlsx"):
    df = pd.read_excel(file_name)
    df = pd.DataFrame(df)
    if dfs.empty:
        dfs = df.copy()
    else:
        dfs = dfs.merge(df, on='Year', how="inner")
dfs.to_excel(os.path.join(folder_name,"results.xlsx"), header = True, index = False)